@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .input-style-base {
    @apply w-full py-2 px-3 focus:outline-none border-2 rounded-md border-red-200 bg-gray-100 focus:bg-white focus:border-red-700;
  }

  .gradient-text {
    @apply bg-clip-text italic text-transparent bg-gradient-to-r from-pink-400 via-orange-500 to-red-600;
  }

  .PhoneInput input {
    @apply h-10 input-style-base ml-2;
  }

  .PhoneInput select {
    @apply flex flex-row input-style-base w-28 h-10;
  }
}
